button {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .4em .8em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  /*border-color: #FDBE33 #000 #D77206;*/
  border-color: #707070 #000 #505050;
  border-radius: 6px;
  /*background: linear-gradient(#F3AE0F, #E38916) #E38916;*/
  background: linear-gradient(#606060, #585858) #585858;
  /*7F7F7F  7A7A7A */
  transition: 0.2s;
} 
button:hover {
    /*background: linear-gradient(#f5ae00, #f59500) #f5ae00;*/
    background: linear-gradient(#686868, #606060) #606060;
}
button:active {
    /*background: linear-gradient(#f59500, #f5ae00) #f59500;*/
    background: linear-gradient(#585858, #686868) #f59500;
}