.grid_style {
    width: 100%;
    border-bottom: 2px solid #E6E4E4;
    border-left: 2px solid #706565; /*#E6E4E4;*/
    border-right: 2px solid #E6E4E4; /*#706565;*/
    /*border-top: 1px solid black;*/
    border-collapse: collapse;
    font-family: "Verdana";
    font-size: 13pt;
    font-stretch: Normal; /* ultra-condensed, extra-condensed, condensed, semi-condensed,
      semi-expanded, expanded, extra-expanded, ultra-expanded, inherit */
    font-style: Normal; /*italic, oblique, inherit */
    font-variant: Normal; /* small-caps, inherit */
    font-weight: Normal; /* bold, bolder, lighter */
    background-color: #BAB4B4;
}
#note_even { color: #1F51B1;
             background-color: #A6A0A0;
           }

#note_odd {
             color: #1F51B1;
             background-color: #B5AFAF;
             }

#weblink_even {
                color: #5C7000;
                background-color: #A6A0A0;
                }

#weblink_odd {
                color: #5C7000;
                background-color: #B5AFAF;
                }

#document_even {
                 color: #E85D06; /*#EEF2A5;*/
                 background-color: #A6A0A0;
                 }

#document_odd {
                color: #E85D06; /*#EEF2A5;*/
                background-color: #B5AFAF;
                }

/*#frame3d { border-style: groove; border-width: 2px; }*/
#grid_align_left { text-align: left; /*border-left: 1px solid black;*/ }
#grid_align_right { text-align: right; /*border-left: 1px solid black;*/ }
#selected_line_top { background-color: Crimson;
                     border:  1px solid Black;
                     border-collapse: collapse;
                     color: LightYellow;
                    }
#selected_line_bottom { background-color: Crimson;
                        font-weight: bold;
                        color: LightYellow;
                      }
#grid_header { border-left: 1px solid black;
               color : #303030;
               font-size: 14pt;
               border-left: 2px solid #E6E4E4;
               border-right: 2px solid #706565;
               border-top: 2px solid #E6E4E4;
               border-bottom: 2px solid #706565;
             }
/*
#text_rounded { border-radius: 10px;
                background-color: #A0A0A0;
              }
*/

/*
 border-top: 1px solid black;
#unaccessible_line {border-top: 1px solid black; color: #505050; background-color: #FFE9B5; }
#empty_line {border-top: 1px solid black; background-color: #FFD1D1}
#no_align { border-left: 1px solid black; }
*/