<!DOCTYPE html>
<html>
    <head>
        <title> {{ session["APPLICATION_NAME"] }} </title>
        <link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='input_lines.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='buttons.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='grid.css')}}" rel="stylesheet" type="text/css">
        <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
    </head>
    <body bgcolor="black">
        <table class="page_markup_style">
            <tbody>
                <tr>
                    <td id="inner-dark-shadow"> {{ session['appname'] }} </td>
                    <!--<td id="impressed_banner"> {{ session["APPLICATION_NAME"] }} </td>-->
                </tr>
                {% block content %}
                {% endblock %}
                <tr>
                </tr>
            </tbody>
        </table>
    </body>
</html>
