<!DOCTYPE html>
<html>
    <head>
        <title> {{ session["APPLICATION_NAME"] }} </title>
        <link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet" type="text/css">
        <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
    </head>
    <body>
        <!-- Таблица нижнего уровня -->
        <table class="page_markup_style">
            <tbody>
                <tr>
                    <!-- Тулбар -->
                    <td>
                        {# % include "toolbar.html" % #}
                    </td>
                </tr>
                <tr>
                    <!-- Баннер -->
                    <td id="impressed_banner">
                        {{ session["APPLICATION_NAME"] }}
                    </td>
                </tr>
                {% block content %}
                {% endblock %}
                <tr>
                    <!-- Строка статуса -->
                    <td>
                       {# % include "statusbar.html" % #}
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
