<tr>
  {% macro colorize_by_parity(index, even_style, odd_style) %}
    {% if index % 2 == 0 %}
      {% set style = even_style %}
    {% else %}
      {% set style = odd_style %}
    {% endif %}
    <tr id="{{style}}">
  {% endmacro %}

  {% macro colorize_row(precord, index) %}
    {# Тип записи #}
    {% if precord.ftype == 1 %}
      {# Заметка #}
      {{ colorize_by_parity(index, "note_even", "note_odd") }}
    {% endif %}
    {% if precord.ftype == 2 %}
      {# Документ #}
      {{ colorize_by_parity(index, "document_even", "document_odd") }}
    {% endif %}
    {% if precord.ftype == 3 %}
      {# Ссылка #}
      {{ colorize_by_parity(index, "weblink_even", "weblink_odd") }}
    {% endif %}
    {% include "edit_button.html" %}
    {% include "delete_button.html" %}
  {% endmacro %}


  {# *** Вот тут начинается грид *** #}
  <td>
    <!-- param_columns -->
    <table class="grid_style">
      <colgroup>
        <col width="1%"> {# id #}
        <col width="1%"> {# Кнопка "Редактировать" #}
        <col width="1%"> {# Кнопка "Удалить" #}
        <col width="3%"> {# Тип #}
        <col width="47%"> {# Наименование #}
        <col width="47%"> {# Тэги #}
      </colgroup>
      <tbody>
        <!-- Заголовки столбцов !!!! ▾-->
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Наименование</td>
          <td>Теги<td>
        </tr>
        {# Получим очередную строку данных #}
        {% for record in param_data %}
          <form method="post" role="form">
          {{colorize_row(record, loop.index)}}
            {# ID #}
            <td id="grid_align_left">
              <input name="hidden_id"
                     type="hidden"
                     value="{{ record.id }}">
            </td>
            <td>
              {% if record.ftype == 1 %}
                <img src="static/internet-news-reader.png">
              {% elif record.ftype == 2 %}
                <img src="static/x-office-document.png">
              {% elif record.ftype == 3 %}
                <img src="static/applications-internet.png">
              {% endif %}
            </td>
            <td>
              {% if record.ftype == 1 %}
                {{ record.fnoteobj.fname }}
              {% elif record.ftype == 2 %}
                {{ record.fdocumentobj.fdescription }}
              {% elif record.ftype == 3 %}
                {{ record.fweblinkobj.fname }}
              {% endif %}
            </td>
            <td>{{ param_tags[loop.index-1] }}</td>
          </tr>
          </form>
        {% endfor %}
      </tbody>
    </table>
  </td>
</tr>
