  <form id="toolbar"
        method="post"
        role="form">
    <table class="toolbar_style">
      <tr id="halleft">
        <!-- Строка фильтрации по тегам -->
        <td>
          <input class="cool_input"
                 form="toolbar"
                 name="filter_value"
                 placeholder="Теги"
                 type="text"
                 value="{{ session['idx_filter_value'] }}" >
        </td>
        <td>
          <button form="toolbar"
                  name="toolbar_filter"
                  value="filter_switch"
          >
            <table>
              <tr>
                <td>
                  {# *** Фильтр включён? *** #}
                  {% if session["idx_filter_state"] == True %}
                    <img src="static/view-filter_off.png">
                  {% else %}
                    <img src="static/view-filter_on.png ">
                  {% endif %}
                </td>
                <td>
                  {% if session["idx_filter_state"] == True %}
                    Отключить фильтр
                  {% else %}
                    Включить фильтр
                  {% endif %}
                </td>
              </tr>
            </table>
          </button>
        </td>
        <td>
          <button form="toolbar"
                  name="add_content"
                  value="add_content"
          >
            <table>
              <tr>
                <td>
                  <img src="static/list-add.png">
                </td>
                <td>
                    Добавить
                </td>
              </tr>
            </table>
          </button>
        </td>
        <td>
          <input class="cool_input"
                 form="toolbar"
                 name="content_filter"
                 placeholder="Содержимое"
                 type="text"
                 value="{{ session['idx_content_filter'] }}" >

        </td>
      </tr>
    </table>
  </form>
