<form id="pager"
      method="post"
      role="form">
  <tr>
    <td>
      <table align="center">
        <tr>
          {# Если это не первый фрейм... #}
          {% if session["idx_frame_number"] > 0 %}
            {# *** ...выводим кнопку перехода на первый фрейм...  *** #}
            <td>
              <button form="pager"
                      name="idx_pager_first_frame"
                      value="first">
                <<
              </button>
            </td>
            {# ***  ...и на один фрейм назад  *** #}
            <td>
              <button form="pager"
                      name="idx_pager_prev_frame"
                      value="prev">
                <
              </button>
            </td>
          {% endif %}
          {# ***  Если это не последний фрейм...  *** #}
          {% if session["idx_frame_number"] + 1 <= param_frames %}
            {# ***  Выводим кнопки страниц фрейма  *** #}
            {% for page in range(param_framesize) %}
              <td>
                <button form="pager"
                        name="page{{ page }}"
                        value="{{ session['idx_frame_number'] * param_framesize * param_pagesize + page * param_pagesize + 1 }}">
                  {% if page == session["idx_page_number"] %}
                    <span id="currentpage">
                  {% else %}
                    <span>
                  {% endif %}
                    {{ session["idx_frame_number"] * param_framesize * param_pagesize + page * param_pagesize+1 }} -
                    {{ session["idx_frame_number"] * param_framesize * param_pagesize + page * param_pagesize + param_pagesize}}
                    </span>
                </button>
              </td>
            {% endfor %}
            {% if (session["idx_frame_number"]+1 < param_frames) or (param_part_frame == True) %}
              {# ***  ...выводим кнопку перехода на следующий фрейм...  *** #}
              <td>
                <button form="pager"
                        name="idx_pager_next_frame"
                        value="next">
                  >
                </button>
              </td>
              {# ***  ...и на последний.  *** #}
              <td>
                <button form="pager"
                        name="idx_pager_last_frame"
                        value="last">
                  >>
                </button>
              </td>
            {% endif %}
          {% else %}
            {# ***  Может, у нас имеется неполный фрейм?  *** #}
            {% if param_part_frame == True %}
              {# ***  Есть, чего б нет?  *** #}
              {% for page in range(param_part_frame_size) %}
                <td>
                  <button form="pager"
                          name="page{{ page }}"
                          value="{{ session['idx_frame_number'] * param_framesize * param_pagesize + page * param_pagesize + 1 }}">
                    {% if page == session["idx_page_number"] %}
                      <span id="currentpage">
                    {% else %}
                      <span>
                    {% endif %}
                      {{ session["idx_frame_number"] * param_framesize * param_pagesize + page * param_pagesize + 1 }} -
                      {{ session["idx_frame_number"] * param_framesize * param_pagesize + page * param_pagesize + param_pagesize }}
                      </span>
                  </button>
                </td>
              {% endfor %}
              {# ***  Частичная кнопка есть?  *** #}
              {% if param_part_page == True %}
                <td>
                  <button form="pager"
                          name="page{{ param_part_frame_size }}"
                          value="{{ session['idx_frame_number'] * param_framesize * param_pagesize + param_part_frame_size * param_pagesize + 1 }}">
                   {% if param_part_framesize == session["idx_page_number"] %}
                     <span id="currentpage">
                   {% else %}
                     <span>
                   {% endif %}
                   {{ session["idx_frame_number"] * param_framesize * param_pagesize + param_part_frame_size * param_pagesize + 1 }} -
                   {{ param_records }}
                  </button>
                </td>
              {% endif %}
            {% endif %}
          {% endif %}
        </tr>
      </table>
    </td>
  </tr>
</form>
