<form id="pager"
      method="post"
      role="form">
  <tr>
    <td>
      <table align="center">
        <tr>
          {# Если это не первый фрейм... #}
          {% if session["idx.frame.number"] > 0 %}
            {# *** ...выводим кнопку перехода на первый фрейм...  *** #}
            <td>
              <button form="pager"
                      name="idx.pager.first_frame"
                      value="first">
                <<
              </button>
            </td>
            {# ***  ...и на один фрейм назад  *** #}
            <td>
              <button form="pager"
                      name="idx.pager.prev_frame"
                      value="prev">
                <
              </button>
            </td>
          {% endif %}
          {# ***  Если это не последний фрейм...  *** #}
          {% if session["idx.frame.number"] + 1 <= pi_frames %}
            {# ***  Выводим кнопки страниц фрейма  *** #}
            {% for page in range(pi_framesize) %}
              <td>
                <button form="pager"
                        name="page{{ page }}"
                        value="{{ session['idx.frame.number'] * pi_framesize * pi_pagesize + page * pi_pagesize + 1 }}">
                  {% if page == session["idx.page.number"] %}
                    <span id="currentpage">
                  {% else %}
                    <span>
                  {% endif %}
                    {{ session["idx.frame.number"] * pi_framesize * pi_pagesize + page * pi_pagesize+1 }} -
                    {{ session["idx.frame.number"] * pi_framesize * pi_pagesize + page * pi_pagesize + pi_pagesize}}
                    </span>
                </button>
              </td>
            {% endfor %}
            {% if (session["idx.frame.number"]+1 < pi_frames) or (pi_part_frame == True) %}
              {# ***  ...выводим кнопку перехода на следующий фрейм...  *** #}
              <td>
                <button form="pager"
                        name="idx.pager.next_frame"
                        value="next">
                  >
                </button>
              </td>
              {# ***  ...и на последний.  *** #}
              <td>
                <button form="pager"
                        name="idx.pager.last_frame"
                        value="last">
                  >>
                </button>
              </td>
            {% endif %}
          {% else %}
            {# ***  Может, у нас имеется неполный фрейм?  *** #}
            {% if pi_part_frame == True %}
              {# ***  Есть, чего б нет?  *** #}
              {% for page in range(pi_part_frame_size) %}
                <td>
                  <button form="pager"
                          name="page{{ page }}"
                          value="{{ session['idx.frame.number'] * pi_framesize * pi_pagesize + page * pi_pagesize + 1 }}">
                    {% if page == session["idx.page.number"] %}
                      <span id="currentpage">
                    {% else %}
                      <span>
                    {% endif %}
                      {{ session["idx.frame.number"] * pi_framesize * pi_pagesize + page * pi_pagesize+1 }} -
                      {{ session["idx.frame.number"] * pi_framesize * pi_pagesize + page * pi_pagesize + pi_pagesize }}
                      </span>
                  </button>
                </td>
              {% endfor %}
              {# ***  Частичная кнопка есть?  *** #}
              {% if pi_part_page == True %}
                <td>
                  <button form="pager"
                          name="page{{ pi_part_frame_size }}"
                          value="{{ session['idx.frame.number'] * pi_framesize * pi_pagesize + pi_part_frame_size * pi_pagesize + 1 }}">
                   {% if pi_part_framesize == session["idx.page.number"] %}
                     <span id="currentpage">
                   {% else %}
                     <span>
                   {% endif %}
                   {{ session["idx.frame.number"] * pi_framesize * pi_pagesize + pi_part_frame_size * pi_pagesize + 1 }} -
                   {{ pi_records }}
                  </button>
                </td>
              {% endif %}
            {% endif %}
          {% endif %}
        </tr>
      </table>
    </td>
  </tr>
</form>
