  <form id="toolbar"
        method="post"
        role="form">
    <table class="toolbar_style">
      <tr id="halleft">
        <!-- Строка фильтрации по тегам -->
        <td>
          <input class="cool_input"
                 form="toolbar"
                 name="filter_value"
                 placeholder="Теги"
                 type="text"
                 value="{{ session['idx_filter_value'] }}" >
        </td>
        <td>
          <a href="#" class="cool_button">
            <table>
              <tr>
                <td> %%%{{ session["idx_filter_state"] }}%%%
                  <!-- Фильтр включён? -->
                  {% if session["idx_filter_state"] == True %}

                    <img src="static/view-filter_off.png">
                  {% else %}
                    <img src="static/view-filter_on.png ">
                  {% endif %}
                </td>
                <td>
                  {% if session["idx_filter_state"] == True %}
                    Отключить фильтр
                  {% else %}
                    Включить фильтр
                  {% endif %}
                </td>
              </tr>
            </table>
          </a>
        </td>
        <td>
          <a href="#" class="cool_button">
            <table>
              <tr>
                <td>
                  <img src="static/list-add.png">
                </td>
                <td>
                    Добавить
                </td>
              </tr>
            </table>
          </a>
        </td>
              <!--
              <button class="blue"
			          form="toolbar"
                      name="filter_state"
					  title="Отключить фильтр"
	                  value="filter_state"
                      >Выключить фильтр</button> -->
<!--                </button>-->
            <!-- Добавить, справочник организации, выйти -->
            <td>
<!--                <button class="common_button"-->
<!--						form="toolbar"-->
<!--						name="append"-->
<!--						title="Добавить договор"-->
<!--						value="Добавить"-->
<!--				>-->
<!--                    <table>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <img src="static/list-add.png">-->
<!--                            </td>-->
<!--                            <td> Добавить </td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </button>-->
            </td>
            <td>
<!--                <button class="common_button"-->
<!--						form="toolbar"-->
<!--						name="organizations"-->
<!--						title="Справочник организаций"-->
<!--						value="Организации"-->
<!--				>-->
<!--                    <table>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <img src="static/x-office-address-book.png">-->
<!--                            </td>-->
<!--                            <td> Организации </td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </button>-->
            </td>
            <td>
<!--                <button class="common_button"-->
<!--						form="toolbar"-->
<!--						name="logout"-->
<!--						title="Выйти из программы"-->
<!--						value="Выйти"-->
<!--				>-->
<!--                    <table>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                <img src="static/system-log-out.png">-->
<!--                            </td>-->
<!--                            <td>  Выйти </td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </button>-->
            </td>
            <td>
                <!--                <button class="common_button"-->
<!--						form="toolbar"-->
<!--						name="trash"-->
<!--				        {% if session["idx.trash_state"] == True %}-->
<!--				        title="Выйти из корзины"-->
<!--						{% else %}-->
<!--				        title="Войти в корзину"-->
<!--                        {% endif %}-->
<!--                		value="trash"-->
<!--				>-->
<!--                    <table>-->
<!--                        <tr>-->
<!--                            <td>-->
<!--                                &lt;!&ndash; Корзина включена? &ndash;&gt;-->
<!--                                {% if session["idx.trash_state"] == True %}-->
<!--                                    <img src="static/user-trash-exit.png ">-->
<!--                                {% else %}-->
<!--                                    <img src="static/user-trash.png ">-->
<!--                                {% endif %}-->
<!--                            </td>-->
<!--                            <td> Корзина </td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </button>-->
            </td>
        </tr>
    </table>
  </form>
